body {
  margin: 0;
}

main {
  margin: 24px;
  padding: 1rem;
}

.angled-line {
  position: absolute;
  bottom: 500px;
  left: 0;
  width: 100%;
  height: 1000px;
  background: rgba(0, 0, 0, 0.218);
  transform: skewY(-15deg);
  transform-origin: top left;
  z-index: -1;
}

h1,
h2,
h3 {
  text-align: center;
}

.header-image {
  position: relative;
  display: block;
}

.header-image img {
  display: block;
  margin: 0 auto;
  max-height: 100%;
  width: auto;
}

.name {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 40px;
  color: white;
}

.header-icons {
  display: flex;
  justify-content: end;
  gap: 1.5rem;
}

.header-icons img {
  width: 2rem;
}

header {
  margin-bottom: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-header-icons svg {
  width: 1.5rem;
}

.card-header-icons {
  display: flex;
  gap: 0.8rem;
}

.project-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project-card img {
  width: 100%;
  object-fit: cover;
}

.project-card p {
  margin: 0;
}

.card-content {
  padding: 1rem;
  padding-top: 0;
}

footer {
  background-color: bisque;
  padding: 1rem;
}

footer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer-text {
  padding: 1rem;
}

.section-cards {
  display: grid;
  gap: 2rem;
  margin-bottom: 4rem;
}

h3 {
  margin: 0;
}

@media (max-width: 2560px) {
  .section-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .header-text {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    max-width: 500px;
  }

  .header-image img {
    max-height: 800px;
  }

  main {
    padding: 2rem 3rem;
  }

  .angled-line {
    bottom: 500px;
    transform: skewY(-9deg);
  }

  footer {
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .footer-image {
    max-width: 500px;
  }

  footer .header-icons {
    justify-content: start;
  }

  h3 {
    justify-self: start;
  }
}

@media (max-width: 1024px) {
  .section-cards {
    grid-template-columns: 1fr 1fr;
  }

  .header-image img {
    max-height: 500px;
  }

  main {
    padding: 1rem;
  }

  .angled-line {
    bottom: 600px;
    transform: skewY(-10deg);
  }

  footer {
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
  }

  .footer-image {
    max-width: 400px;
  }
}

@media (max-width: 640px) {
  main {
    margin: 8px;
  }

  header {
    flex-direction: column;
  }

  .header-text {
    box-shadow: none;
    padding: 0;
    position: static;
  }

  .section-cards {
    grid-template-columns: 1fr;
  }

  .header-icons {
    justify-content: center;
    gap: 1.5rem;
  }

  .header-image {
    height: 15rem;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    align-items: flex-end;
  }

  .header-image img {
    max-height: 300px;
  }

  .name {
    display: flex;
    max-width: 268px;
    justify-content: center;
  }

  .angled-line {
    bottom: 800px;
  }

  footer {
    display: block;
    padding: 0%;
  }

  .footer-image {
    max-width: 100%;
  }

  footer .header-icons {
    justify-content: center;
  }

  h3 {
    justify-self: center;
  }
}
