body {
  margin: 24px;
  padding: 1rem;
}

h1,
h2,
h3 {
  text-align: center;
}

.header-image {
  position: relative;
  display: block;
}

.header-image img {
  display: block;
  margin: 0 auto;
  max-height: 100%;
  width: auto;
}

.name {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 40px;
  color: white;
}

.header-icons {
  display: flex;
  justify-content: end;
  gap: 1.5rem;
}

.header-icons img {
  width: 2rem;
}

header {
  margin-bottom: 4rem;
  display: flex;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-header-icons svg {
  width: 1.5rem;
}

.card-header-icons {
  display: flex;
  gap: 0.8rem;
}

.project-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project-card img {
  width: 100%;
  object-fit: cover;
}

.project-card p {
  margin: 0;
}

.card-content {
  padding: 1rem;
  padding-top: 0;
}

footer {
  background-color: bisque;
}

footer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer-text {
  padding: 1rem;
  margin-bottom: 2rem;
}

.section-cards {
  display: grid;
  gap: 2rem;
  margin-bottom: 4rem;
}

@media (max-width: 2560px) {
  .section-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .header-text {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 2rem;
  }

  .header-image img {
    max-height: 800px;
  }
}

@media (max-width: 1024px) {
  .section-cards {
    grid-template-columns: 1fr 1fr;
  }

  .header-image img {
    max-height: 600px;
  }
}

@media (max-width: 640px) {
  body {
    margin: 8px;
  }

  header {
    flex-direction: column;
  }

  .header-text {
    box-shadow: none;
    padding: 0;
  }

  .section-cards {
    grid-template-columns: 1fr;
  }

  .header-icons {
    justify-content: center;
    gap: 1.5rem;
  }

  .header-image {
    height: 15rem;
    display: flex;
    justify-content: center;

    align-items: flex-end;
  }

  .header-image img {
    max-height: 300px;
  }

  .name {
    display: flex;
    max-width: 268px;
    justify-content: center;
  }
}
